.top-top-div {
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: 100vw;
    background-image: linear-gradient(to right, #7EC8E3, #A4D7A7);
    align-content: center;
    text-align: left;
}

.other-top-div {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    top: 120px;
    left: 85px;
    height: 50px;
    width: 1000px;
    background-color: lightgray;
    border-radius: 15px;
}

h2 {
    padding-left: 30px;
}

.inside-top-div {
    display: flex;
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    align-content: center;
}

.inside-other-div {
    position: flex;
    top: 125px;
    right: 105px;
    height: 40px;
    width: 45vw;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    align-content: center;
}

.bigger-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1000px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid silver;
    font-size: 20px;
    color: #888;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inside-bigger-div {
    position: flex;
    top: 330px;
    right: 500px;
    height: 50px;
    width: 400px;
    background-image: linear-gradient(to right, #7EC8E3, #A4D7A7);
    border-radius: 15px;
    border: 2px solid #7EC8E3;
    color: black;
    align-content: center;
    align-self: center;
}

.build-qr {
    position: flex;
    top: 330px;
    right: 400px;
    height: 50px;
    width: 600px;
    border-radius: 15px;
    border: 2px solid #7EC8E3;
    color: lightgray;
    text-align: left;
    align-content: center;
    font-size: 20px;
    padding-left: 20px;
}