.area-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-image: linear-gradient(to right, #7ec8e3, #a4d7a7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.texto-topo {
  font-size: 24px;
  font-weight: bold;
  color: #888;
  padding-bottom: 20px;
}

.selecionar {
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.info {
  display: flex;
  gap: 10px;
  height: 65px;
  width: 580px;
  color: black;
  border: 1px solid #7ec8e3;
  border-radius: 15px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.form-div {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  height: 470px;
  padding-left: 30px;
  width: 550px;
  color: black;
  border: 2px solid silver;
  border-radius: 15px;
  justify-content: left;
  text-align: left;
}

.login {
  display: flex;
  margin-left: -30px;
  font-size: 30px;
  justify-content: center;
}

.senha {
  align-items: center;
  height: 50px;
  padding-left: 20px;
  width: 500px;
  color: black;
  border: 1px solid gray;
  border-radius: 15px;
  justify-content: left;
  text-align: left;
  font-size: 18px;
  background-color: white;
}

.cpf {
  align-items: center;
  height: 50px;
  padding-left: 20px;
  width: 500px;
  color: black;
  border: 1px solid gray;
  border-radius: 15px;
  justify-content: left;
  text-align: left;
  font-size: 18px;
  background-color: white;
}

.entrar-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.entrar-btn {
  height: 50px;
  width: 520px;
  color: black;
  border: 2px solid #7ec8e3;
  border-radius: 15px;
  font-size: 20px;
  background-image: linear-gradient(to right, #7ec8e3, #a4d7a7);
  margin-top: 30px;
}

.sem-cadastro {
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .info {
    width: 90%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 2%;
  }
  .form-div {
    width: 90%;
    border: 0px;
  }
  .cpf {
    width: 85%;
  }
  .senha {
    width: 85%;
  }
  .entrar-btn {
    width: 92%;
  }
}
