.ranking-item-container {
  display: flex;
  align-items: center; /* Alinha verticalmente no centro */
  justify-content: space-between; /* Espalha os itens */

  background-color: white;
  padding: 15px 20px;
  margin: auto;
  margin-bottom: 15px; /* Espaço entre um card e outro */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;

  /* Garante que o card ocupe a largura disponível */
  width: 95%;
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

.posicao {
  font-size: 1.5rem;
  font-weight: bold;
  color: #64748b;
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-bairro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  text-align: left;
}

.info-bairro h3 {
  margin: 0 0 8px 0; /* Espaço embaixo do nome */
  font-size: 1rem;
  color: #333;
  font-weight: 600;
}

/* Fundo */
.barra-progresso-container {
  width: 100%;
  height: 8px;
  background-color: #e2e8f0;
  border-radius: 4px;
  overflow: hidden;
}

/* Preenchimento */
.barra-progresso {
  height: 100%;
  background-color: #7dd3fc;
  background: linear-gradient(90deg, #7dd3fc 0%, #34d399 100%);
  border-radius: 4px;
}

/* Porcentagem */
.porcentagem {
  font-size: 1.2rem;
  font-weight: bold;
  color: #7dd3fc;
  min-width: 50px;
  text-align: right;
}

@media (max-width: 768px) {
  .ranking-item-container {
    width: 100%;
  }
}
