.msg-div {
    margin: auto;
    margin-top: 50px;
    font-size: 22px;
    text-align: center;
    z-index: 10;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.extrato-rolldown-div {
    width: 50vw; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
    padding-bottom: 20px;
}

.extrato-div {
    padding: 5px 10px 10px 10px; 
    border: 2px solid #a4d7a7;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.extrato-top {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.extrato-bottom {
    font-size: 18px;
    color: #555;
    text-align: left;
    padding-left: 10px;
}

@media (max-width: 768px) {
    .extrato-rolldown-div {
        width: 80%;
        margin: auto;
    }
}